@font-face {
  font-family: co-headline, sans-serif;
font-weight: 300;
font-style: normal;
font-family: co-headline, sans-serif;
font-weight: 400;
font-style: normal;
font-family: co-headline, sans-serif;
font-weight: 700;
font-style: normal;
font-family: co-text, sans-serif;
font-weight: 300;
font-style: normal;
font-family: co-text, sans-serif;
font-weight: 400;
font-style: normal;
font-family: co-text, sans-serif;
font-weight: 700;
font-style: normal;
font-family: capitolium-2, serif;
font-weight: 300;
font-style: normal;
font-family: capitolium-2, serif;
font-weight: 400;
font-style: normal;
font-family: capitolium-2, serif;
font-weight: 400;
font-style: italic;
font-family: capitolium-2, serif;
font-weight: 700;
font-style: normal;
font-family: capitolium-2, serif;
font-weight: 700;
font-style: italic;
}

.cap2-re {
font-family: capitolium-2, serif;
font-weight: 300;
font-style: normal;
}

.cap2-bo {
  font-family: capitolium-2, serif;
  font-weight: 700;
  font-style: normal;
}

.co-headline-li {
  font-family: co-headline, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.co-headline-re {
font-weight: 400;
font-style: normal;
font-family: co-headline, sans-serif;
}
.co-headline-bo {
  font-family: co-headline, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.co-text-li {
  font-family: co-text, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.co-text-re {
  font-weight: 400;
  font-style: normal;
  font-family: co-headline, sans-serif;
  }

.co-text-bo {
  font-family: co-headline, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title-co {
  font-family: co-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FF8700;
}

html {
  scroll-behavior: smooth;
  max-width: 400px;
  margin: auto;
}

body {
  background-color: #CAD2D9;
}

.button {
  background-color: #FF8700;
  border-radius: 25px;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-family: co-headline, sans-serif;
  padding: 9px 12px;
  font-size: 14px;
  text-decoration: none;
}

a:visited {
  color: white;
}

.card {
  border-radius: 45px;
  background-color: white;
  margin: 82px 5px;
}

.card-text {
 text-align: center;
 padding: 75px 20px 65px 36px;
}
.card-text h2 {
 margin-bottom: 40px;
 font-size: 20px;
}

.card-text p {
  text-align: left;
  font-size: 12px;
  margin-bottom: 36px;
}

.ex-separation-bar {
  background-color: #FF8700;
  text-align: center;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
}

.separation-bar {
  background-color: #FF8700;
  text-align: center;
  color: white;
  width: auto;
}

.card-overview {
  padding: 50px 25px;
}

.alphabet-sentence {
 border: solid 2px black;
 border-radius: 18px;
}

.card-overview p {
 border: solid 2px black;
 border-radius: 18px;
}

.font-style-title {
  font-size: 7px;
  color: #FF8700;
}

.first-bar {
  border: solid 2px #FF8700;
}

.second-bar {
  border: solid 2px #FF8700;
}


footer {
  background-color: #FF8700;
  color: white;
}

footer a {
  text-decoration: none;
}